# .github/workflows/main.yml

name: Markdown to HTML, DOCX and PDF
on:
  push:
    branches:
      - main
    paths:
      - 'README.md'

jobs:
  converttopdf:
    name: Build HTML, DOCX and PDF 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install packages
        run: |
          sudo apt-get -y install pandoc wkhtmltopdf
      - name: Generate the HTML file
        run: pandoc --standalone -c style_alex.css --from markdown --to html -o out/cv_alexandre_tanguy.html README.md
      - name: Generate the PDF file
        run: wkhtmltopdf out/cv_alexandre_tanguy.html out/cv_alexandre_tanguy.pdf
      - name: Generate the DOCX file
        run: pandoc --from markdown --to docx -o out/cv_alexandre_tanguy.docx README.md
      - name: Commit files  # commit those 2 new files in the repo
        run: |
          git config --local user.name  ${{ github.actor }}
          git add ./out
          git commit -m "Automated creation of HTML/DOCX/PDF versions"
      - name: Push changes  # push the output folder to your repo
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force: true